.banner {
    background-color:#FCB2D3;
    color: #E81E76;
    padding:130px 0px;
    background-size: cover;
    background-position: center;
}

 

.banner em {
    font-family: 'Roboto Condensed', sans-serif; 
    font-size: 40px;
    font-weight: 900;
}

 

.banner h2 {
    color: #002855;
    font-size: 50px;
    font-weight: bold;
    opacity: 1.0;
    margin-bottom: 50px;
    font-family: 'arial';
    text-align: left;
}

.banner p {
    color: #002855;
    font-family: 'roboto';
    opacity: 1.0;
    text-align: left;
}